/*
author: TheEmperor
source: https://forum.obsidian.md/t/vertical-tabs-for-more-efficient-use-of-space-and-easier-faster-navigation/42987/10?u
*/

.workspace
  .mod-root
  .workspace-tabs.mod-stacked
  .workspace-tab-container
  .workspace-tab-header-inner-title {
  text-orientation: upright;
  letter-spacing: -3px;
  text-transform: uppercase;
}
